*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: black;
}

.hidden{
    display: none !important;
}

canvas{
    cursor: crosshair;
}

div#score{
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    user-select: none;
}

div#kills{
    position: absolute;
    top: 30px;
    left: 0;
    padding: 1rem;
    color: white;
    font-size: 1.5rem;
    user-select: none;
}

.panel{
    background: white;
    position: absolute;
    padding: 2rem;
    border-radius: .5rem;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.panel h2{
    color: rgb(116, 0, 161);
}

.panel p{
    color: #444;
    margin: 1rem;
}

.panel button{
    outline: none;
    border: none;
    background-color: rgb(128, 0, 0);
    color: white;
    padding: .5rem 1.5rem;
    font-size: 1rem;
    border-radius: .5rem;
}

button:hover{
    background-color: rgb(48, 1, 1);
}

